{% extends "base.html" %}
{% block content %}
<style>
body{
  background-image: url("https://img.freepik.com/free-vector/black-dark-3d-low-poly-geometric-background_79145-393.jpg?size=626&ext=jpg");
}
</style>
<br><br>
<div class="jumbotron">
  <div class="" align = "center">
    <h1>Update Account for {{current_user.username}}</h1>
  </div>
</div>
<div class="container jumbotron bg-dark" style="color: white">
  <form method="POST">
    {{form.hidden_tag()}}
    <div class="form-group">
    {{form.username.label(class='form-group')}}
    {{form.username(class='form-control')}}
    </div>
    <div class="form-group">
      {{form.password.label(class='form-group')}}
      {{form.password(class='form-control')}}<br>
    </div>
    <div class="form-group">
      {{form.pass_confirm.label(class='form-group')}}
      {{form.pass_confirm(class='form-control')}}<br>
    </div>
    {{form.submit(class="btn btn-primary")}}
  </form>
</div>

{% endblock %}
